<!DOCTYPE html>
  <html>
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Anton|Great+Vibes&display=swap" rel="stylesheet">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <title>Pierre's Sweet and Savory Treats</title>
      <link rel="stylesheet" href="~/css/styles.css">
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/"><img class="navImg" height="50px;" src='~/img/icon.png'></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link home" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link treats" href="/treats">Treats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link flavors" href="/flavors">Flavors</a>
        </li>
      </ul>
        @* <style> *@

        <div class="form-inline my-2 my-lg-0">
        @using (Html.BeginForm("search","Restaurants")) {
        <input type="text" name="search" class="form-control mr-sm-2" placeholder="Search Treats"/>
        <input type="submit" value="search" class="btn btn-outline-success my-2 my-sm-0">
        }
        </div>
      </div>
    </nav>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>