body {
  background-color: #f5f5ff;
  text-align: center;
}

.navImg {
  height: 50px;
  width: auto;
}

h1{
  font-family: 'Paytone One', sans-serif;
}

.splash-btn {
  display: flex;
  justify-content: center;
}