@{
  Layout = "_Layout";
}

@using TreatShop.Models;
@model IEnumerable<TreatShop.Models.Flavor>

<hr>
<h1>Flavors in the database: </h1>
<div class="card-treat" style="width:50%;">
  <div class="card-body">
    @if (Model.Any())
    {
      <hr>
      @foreach (Flavor flavor in Model)
      {
        <p>@Html.ActionLink($"{flavor.FlavorName}", "Details", new { id = flavor.FlavorId })</p>
        <hr>
      }
    } 
    else
    {
      <h3>No flavors have been added yet.</h3>

    }
  </div>
</div>

<p class="btn btn-outline-success my-2 my-sm-0" id="new-flavor">@Html.ActionLink("Create a new flavor", "Create")</p>