@{
  Layout = "_Layout";
}
<hr>
<h1>Pierre's Sweet and Savory Treat Emporium</h1>
<br>
<div class="btn-toolbar">
  <p>@Html.ActionLink("Accounts", "Index", "Account", null,  new { @class="btn btn-outline-success my-2 my-sm-0"})</p>
  <p>@Html.ActionLink("Add a new treat", "Create", "Treats", null,  new { @class="btn btn-outline-success my-2 my-sm-0"})</p>
  <p>@Html.ActionLink("Add a new flavor", "Create", "Flavors",  null, new { @class="btn btn-outline-success my-2 my-sm-0"})</p>
</div>